@keyframes bubbleRise {
    0% {
        bottom: -150px;
        opacity: 1;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #fff, inset -10px 10px 15px #020131,
        inset 5px 5px 10px #012196, inset -5px 5px 20px #fff,
        inset 15px -25px 20px #24bbed;
    pointer-events: all;
    animation: bubbleRise 5s linear forwards;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(2, 4, 98, 0.405);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    width: 80%;
    max-width: 400px;
}


.message {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

button.start-btn {
    font-size: 18px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    width: 100%;
    /* Para asegurarte de que el botón ocupe el ancho completo disponible */
    max-width: 200px;
    /* Define un ancho máximo para que el botón no sea demasiado grande */
    display: block;
    /* Esto asegurará que el botón se centre si no está utilizando flexbox */
    text-align: center;
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
}


.bubble-container {
    position: relative;
    width: 100vw;
    height: 80vh;
    /* Ajusta la altura si es necesario */
    overflow: hidden;
    /* Asegura que las burbujas no se salgan del contenedor */
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilo personalizado para el Toast (Notificación) */
.custom-toast2 {
    background-color: #ffffff !important;
    color: #333 !important;
    border-left: 5px solid #28a745 !important;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Estilo para el botón de Guardar Puntaje */
button.save-score-btn {
    font-size: 18px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

button.start-btn:hover {
    background-color: #0056b3;
}

button.start-btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}