.game-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.game-container button {
  font-size: 24px;
  padding: 10px;
  margin-top: 20px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-container button:hover {
  background-color: #333;
}

.game-container p {
  font-size: 18px;
  color: #CCCCCC;
  margin-bottom: 10px;
}

.game-container p:first-child {
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 0 10px #FFFFFF;
}