.row {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

.circle {
    width: 80px;
    aspect-ratio: 1/1;
    box-shadow: inset 1em 2em 1em rgba(255, 255, 255, .2),
        inset -1em -2em 1em rgba(0, 0, 0, .4);
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms ease-in-out;
    background-color: orange;
}

.clicked {
    box-shadow: inset -1em -2em 1em rgba(255, 255, 255, .1),
        inset -1em -2em 1em rgba(0, 0, 0, .6);
    background-color: darkorange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: bisque;
}

.container {
    width: 90vh;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PopIt {
    width: 100%;
    background-color: orange;
    border-radius: 1em;
}